* {
    font-family: Georgia;
    font-size: 12px;
    color: #847171;
    border: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

#pageWrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

#headerWrapper {
    margin: 18px 0 19px 0;
    height: 113px;
    width: 1000px;
}

#logoWrapper {
    height: 113px;
    width: 278px;
}

#phoneWrapper {
    padding: 0 10px;
    width: 192px;
    height: 113px;
}

#phoneWrapper h2 {
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

#phoneWrapper p {
    line-height: 12px;
    padding: 0;
}

#bannersWrapper {
    width: 520px;
    height: 113px;
    margin-right: -10px;
}

#bannersWrapper img {
    margin-right: 10px;
}

#menuWrapper {
    text-align: center;
    margin: 19px 0 15px 0;
    padding: 0;
    height: 40px;
    border-radius: 5px;
    background: url('../images/menu.png') top left repeat-x;
}

#menuWrapper a {
    color: #fef2ca;
    font-size: 16px;
    margin: 0 15px;
    padding: 0;
    height: 40px;
    line-height: 40px;
    text-transform: small-caps;
}
#copyrightWrapper {
    width: 212px;
}
#signatureWrapper {
    width: 124px;
}
#bottomMenu {
    width: 518px;
    font-size: 16px;
    text-align: center;
    font-family: Georgia;
    font-variant: small-caps;
}
#bottomMenu a {
    font-size: 16px;
    color: #2d1f1e;
}

#content {
    width: 580px;
    float: left;
}

#breadcrumps {
    margin-top: -20px;
}

#itemPreviewWrapper:before {
    content: '';
    display: block;
    width: 311px;
    height: 14px;
    background: url('../images/preview_wrapper_top.png') top left no-repeat;
}
#itemPreviewWrapper:after {
    content: '';
    display: block;
    width: 311px;
    height: 9px;
    background: url('../images/preview_wrapper_bottom.png') bottom left no-repeat;
}
#itemPreviewWrapper {
    margin-top: -25px;
    margin-left: 10px;
    width: 311px;
    background: url('../images/preview_wrapper_bg.png') top left repeat-y;
}

.itemAttribute {
    height: 24px;
    line-height: 24px;
}
.itemAttribute .caption {
    float: left;
    width: 140px;
    font-size: 11px;
    font-weight: bold;
    color: #948484;
}
.itemAttribute .left {
    font-size: 14px;
    color: #2d1f1e;
}

/* COMMON */
.left, .right { display: block; }
.left {float:left;}
.right {float:right;}
.clear::after {visibility:hidden; display:block; font-size:0; content:' '; clear:both; height:0;}
.bold {font-weight:bold;}
.text-center {
    text-align: center;
}
.no-list, .no-list > * {
    list-style: none;
}

.pageColumn {
    display: block;
    width: 202px;
    background: url('../images/page_column_bg.png') top left repeat-y;
    margin-bottom: 20px;
}
.pageColumn:before {
    content: "";
    display: block;
    visibility: visible;
    margin-top: -5px;
    width: 202px;
    height: 18px;
    background: url('../images/page_column_top.png') top left no-repeat;
}
.pageColumn:after {
    content: "";
    display: block;
    visibility: visible;
    width: 202px;
    height: 18px;
    margin-top: 20px;
    background: url('../images/page_column_bottom.png') top left no-repeat;
}
.pageColumn > * {
    margin: 5px 16px;
}
.pageColumn h2 {
    /*height: 40px;*/
    text-align: center;
    /*line-height: 40px;*/
    font-size: 16px;
    font-variant: small-caps;
    text-decoration: underline;
    margin: 20px 0;
}
.pageColumn ul {
    padding: 0;
}
.pageColumn ul li {
    list-style-position: inside;
}

.pageColumn > ul > li {
    margin-bottom: 25px;
}

.pageColumn h3 {
    display: inline;
    margin-left: -10px;
    padding-left: 5px;
}
.pageColumn ul li ul li {
    margin-left: 12px;
    list-style: none;
}
.pageColumn ul.no-list li {
    margin-bottom: 0;
}

.pageSidebar.left {margin-right: 8px;}
.pageSidebar.right {margin-left: 8px;}
#publicNote {
    font-size: 10px;
    margin-top: 30px;
}

.contentBlock {
    background: url('../images/content_block_bg.png') 0 10px repeat-y
}
.contentBlock h2 {
    font-size: 16px;
    font-variant: small-caps;
}
.contentBlock:before {
    content: " ";
    display: block;
    visibility: visible;
    background: url('../images/content_block_top.png') top left no-repeat;
    width: 581px; 
    height: 9px;
    /* margin-top: 10px; NOTE: after-going element now have bottom margin instead*/
}
.contentBlock:after {
    content: " ";
    display: block;
    visibility: visible;
    background: url('../images/content_block_bottom.png') top left no-repeat;
    width: 581px;
    height: 9px;
    margin-bottom: 10px;
}
.contentBlock > div {
    width: 550px;
    margin: 0 auto;
}
.contentBlockNoBorder {
    /* margin-top: 20px; */
}
.contentBlockNoBorder:first-child {
    margin-top: 0 !important;
}
.contentBlockNoBorder h1 {
    text-indent: 15px;
    font-size: 16px;
    font-variant: small-caps;
}
.contentBlockNoBorder p {
    text-align: justify;
    text-indent: 15px;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.contentBlock > * {
    margin-left: 10px;
}

.items {

}

.items .item {
    float: left;
    margin: 0 12px 10px 0;
    /*height: 140px;*/
    width: 171px;
}

.item.new-look {
    margin-bottom: 0px;
}

.items .spacer {
    float: left;
    width: 520px;
    height: 20px;
}

.items .item.new-look p.title-container {
    padding-bottom: 0; 
}

.items .item.new-look p {
    padding: .5em;
    background-color: rgba(255,255,255,0.5);
    color: #333;
}

.items .item p {
    padding: 0;
    margin: 0;
    /*height: 23px;
    line-height: 23px;*/
}

#producerLogo {
    margin: 5px 0 10px 15px;
}

#producerProfile h2 {
    text-indent: 15px;
}

.icon {
    width: 28px;
    height: 28px;
    margin-right: 13px;
    margin-bottom: 13px;
}

/* Item page */
#itemPreview {
    display: block;
    margin: 0 auto;
}

.itemThumbs {
    margin: 3px auto;
    height: 90px;
    cursor: pointer;
}

.itemThumbs div {
    height: 70px;
    overflow: hidden;
}

.itemThumbs div > img {
    display: block;
    float: left;
    margin-right: 2px;
}


/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
    width:auto;
    margin-right:30px;
    overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
    margin-right:0;
}
.mCustomScrollBox .mCSB_scrollTools{
    width:16px;
    height:100%;
    top:0;
    right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
    height:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.mCSB_scrollTools .mCSB_buttonUp+.mCSB_draggerContainer{
    padding-bottom:40px;
}
.mCSB_scrollTools .mCSB_draggerRail{
    width:2px;
    height:100%;
    margin:0 auto;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
    width:100%;
    height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width:4px;
    height:100%;
    margin:0 auto;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
    height:20px;
    overflow:hidden;
    margin:0 auto;
    cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
    bottom:0;
    margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal .mCSB_container{
    height:auto;
    margin-right:0;
    margin-bottom:30px;
    overflow:hidden;
}
.mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
    margin-bottom:0;
}
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools{
    width:100%;
    height:16px;
    top:auto;
    right:auto;
    bottom:0;
    left:0;
    overflow:hidden;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerContainer{
    height:100%;
    width:auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft+.mCSB_draggerContainer{
    padding-bottom:0;
    padding-right:20px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail{
    width:100%;
    height:2px;
    margin:7px 0;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger{
    width:30px;
    height:100%;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width:100%;
    height:4px;
    margin:6px auto;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
    width:20px;
    height:100%;
    overflow:hidden;
    margin:0 auto;
    cursor:pointer;
    float:left;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
    right:0;
    bottom:auto;
    margin-left:-40px;
    margin-top:-16px;
    float:right;
}

/* default scrollbar colors and backgrounds */
.mCustomScrollBox .mCSB_scrollTools{
    opacity:0.75;
}
.mCustomScrollBox:hover .mCSB_scrollTools{
    opacity:1;
}
.mCSB_scrollTools .mCSB_draggerRail{
    background:#000; /* rgba fallback */
    background:rgba(0,0,0,0.4);
    filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background:#2f201f; /* rgba fallback */
    background:rgba(47,32,31,0.75);
    filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background:rgba(98,79,79,0.85);
    filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background:rgba(98,79,79,0.35);
    filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
    background-image:url(mCSB_buttons.png);
    background-repeat:no-repeat;
    opacity:0.4;
    filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{
    background-position:0 0;
}
.mCSB_scrollTools .mCSB_buttonDown{
    background-position:0 -20px;
}
.mCSB_scrollTools .mCSB_buttonLeft{
    background-position:0 -40px;
}
.mCSB_scrollTools .mCSB_buttonRight{
    background-position:0 -56px;
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
    opacity:0.75;
    filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
    opacity:0.9;
    filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}